{% extends 'base.html' %}
{% block content %}
    {% if object_list %}
    <ul>
        {% for object in object_list %}
            <li>
                <h3>{{ object.title }}</h3>
                <h5> {{object.pub_date}} </h5>
                <h4> {{ object.category }} </h4>
                <a href="{% url 'detail' object.id %}">See more...</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
    <h3>Oops! It sees like there's nothing in the database.</h3>

    {% endif %}
    <a href="{% url 'addpost' %}">Add Post</a>
{% endblock content %}